<body>
<header>
<!-- 
<div class="university-links">
<div class="sinkitokou"><%= link_to "цЦ░шжПцКХчи┐уБ╕", new_tweet_path %><br>
</div>
<%= link_to "цЭ▒ф║мхдзхнжуБ╕",  toudai_tweets_path %>
<%= link_to "цЭ▒ф║мх╖еценхдзхнжуБ╕",  toukoudai_tweets_path %>
<%= link_to "ф╕АцйЛхдзхнжуБ╕",  hitotubashi_tweets_path %>
<%= link_to "цикц╡ЬхЫ╜члЛхдзхнжуБ╕",  yokokoku_tweets_path %>
<%= link_to "цЧйчи▓чФ░хдзхнжуБ╕",  waseda_tweets_path %>
<%= link_to "цЕ╢х┐Ьч╛йхб╛хдзхнжуБ╕",  keio_tweets_path %>
<%= link_to "щЭТх▒▒хнжщЩвхдзхнжуБ╕",  aogaku_tweets_path %><br>
<%= link_to "цШОц▓╗хдзхнжуБ╕",  meiji_tweets_path %>
<%= link_to "ф╕КцЩ║хдзхнжуБ╕",  sophia_tweets_path %>
<%= link_to "цЭ▒ф║мчРЖчзСхдзхнжуБ╕",  rikadai_tweets_path %>
<%= link_to "члЛцХЩхдзхнжуБ╕",  rikkyo_tweets_path %>
<%= link_to "ц│ХцФ┐хдзхнжуБ╕",  housei_tweets_path %>
<%= link_to "хнжч┐ТщЩвхдзхнжуБ╕",  gakushuin_tweets_path %>
<%= link_to "цЧецЬмхдзхнжуБ╕",  nitidai_tweets_path %><br>
<%= link_to "цЭ▒ц┤ЛхдзхнжуБ╕",  toyo_tweets_path %>
<%= link_to "щзТц╛дхдзхнжуБ╕",  komazawa_tweets_path %>
<%= link_to "х░Вф┐охдзхнжуБ╕",  senshu_tweets_path %>
<%= link_to "цИРш╣КхдзхнжуБ╕",  seikei_tweets_path %>
<%= link_to "цИРхЯОхдзхнжуБ╕",  seijo_tweets_path %>
<%= link_to "цШОц▓╗хнжщЩвхдзхнжуБ╕",  meigaku_tweets_path %>
<%= link_to "чНихНФхдзхнжуБ╕",  dokkyou_tweets_path %><br>
<%= link_to "хЬЛхн╕щЩвхдзхнжуБ╕",  kokugakuin_tweets_path %>
<%= link_to "цнжшФ╡хдзхнжуБ╕",  musashi_tweets_path %>
<%= link_to "цЭ▒ц╡╖хдзхнжуБ╕",  tokai_tweets_path %>
<%= link_to "хдзцЭ▒цЦЗхМЦхдзхнжуБ╕",  daitobunka_tweets_path %>
<%= link_to "ф║Ьч┤░ф║ЬхдзхнжуБ╕",  asia_tweets_path %>
<%= link_to "х╕Эф║мхдзхнжуБ╕",  teikyo_tweets_path %>
<%= link_to "хЫ╜хглщдихдзхнжуБ╕",  kokushikan_tweets_path %>
</div>

</header>
 -->



 
<div class="slideshow">
    <div class="slideshow-image" style="background-image: url('<%= asset_path 'ramen.jpg' %>');"></div>
    <div class="slideshow-image" style="background-image: url('<%= asset_path 'hamburger.jpg' %>');"></div>
    <div class="slideshow-image" style="background-image: url('<%= asset_path 'pancake.jpg' %>');"></div>
</div>



<div class="tweet1 cute-intro">
  <p><span>ЁЯНФ</span>хдзхнжхСиш╛║уБоуВ░уГлуГбцГЕха▒уВТхЕ▒цЬЙуБЩуВЛуВ╡уВдуГИуБзуБЩя╝БуБ┐уБкуБХуВУуБоцКХчи┐уВТуБКх╛ЕуБбуБЧуБжуБДуБ╛уБЩя╝Б<span>ЁЯНЬ</span></p>
</div>




<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>уВ╡уГ│уГЧуГлуГЪуГ╝уВ╕</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="new-post-container">
            <%= link_to "цКХчи┐уБЩуВЛ", new_tweet_path, class: 'new-post-link' %>
        </div>
        <div class="university-links">
            <%= link_to "цЭ▒ф║мхдзхнжуБ╕",  toudai_tweets_path, class: 'university-link' %>
            <%= link_to "цЭ▒ф║мх╖еценхдзхнжуБ╕",  toukoudai_tweets_path, class: 'university-link' %>
            <%= link_to "ф╕АцйЛхдзхнжуБ╕",  hitotubashi_tweets_path, class: 'university-link' %>
            <%= link_to "цикц╡ЬхЫ╜члЛхдзхнжуБ╕",  yokokoku_tweets_path, class: 'university-link' %>
            <%= link_to "цЧйчи▓чФ░хдзхнжуБ╕",  waseda_tweets_path, class: 'university-link' %>
            <%= link_to "цЕ╢х┐Ьч╛йхб╛хдзхнжуБ╕",  keio_tweets_path, class: 'university-link' %>
            <%= link_to "щЭТх▒▒хнжщЩвхдзхнжуБ╕",  aogaku_tweets_path, class: 'university-link' %>
            <%= link_to "цШОц▓╗хдзхнжуБ╕",  meiji_tweets_path, class: 'university-link' %>
            <%= link_to "ф╕КцЩ║хдзхнжуБ╕",  sophia_tweets_path, class: 'university-link' %>
            <%= link_to "цЭ▒ф║мчРЖчзСхдзхнжуБ╕",  rikadai_tweets_path, class: 'university-link' %>
            <%= link_to "члЛцХЩхдзхнжуБ╕",  rikkyo_tweets_path, class: 'university-link' %>
            <%= link_to "ц│ХцФ┐хдзхнжуБ╕",  housei_tweets_path, class: 'university-link' %>
            <%= link_to "хнжч┐ТщЩвхдзхнжуБ╕",  gakushuin_tweets_path, class: 'university-link' %>
            <%= link_to "цЧецЬмхдзхнжуБ╕",  nitidai_tweets_path, class: 'university-link' %>
            <%= link_to "цЭ▒ц┤ЛхдзхнжуБ╕",  toyo_tweets_path, class: 'university-link' %>
            <%= link_to "щзТц╛дхдзхнжуБ╕",  komazawa_tweets_path, class: 'university-link' %>
            <%= link_to "х░Вф┐охдзхнжуБ╕",  senshu_tweets_path, class: 'university-link' %>
            <%= link_to "цИРш╣КхдзхнжуБ╕",  seikei_tweets_path, class: 'university-link' %>
            <%= link_to "цИРхЯОхдзхнжуБ╕",  seijo_tweets_path, class: 'university-link' %>
            <%= link_to "цШОц▓╗хнжщЩвхдзхнжуБ╕",  meigaku_tweets_path, class: 'university-link' %>
            <%= link_to "чНихНФхдзхнжуБ╕",  dokkyou_tweets_path, class: 'university-link' %>
            <%= link_to "хЬЛхн╕щЩвхдзхнжуБ╕",  kokugakuin_tweets_path, class: 'university-link' %>
            <%= link_to "цнжшФ╡хдзхнжуБ╕",  musashi_tweets_path, class: 'university-link' %>
            <%= link_to "цЭ▒ц╡╖хдзхнжуБ╕",  tokai_tweets_path, class: 'university-link' %>
            <%= link_to "хдзцЭ▒цЦЗхМЦхдзхнжуБ╕",  daitobunka_tweets_path, class: 'university-link' %>
            <%= link_to "ф║Ьч┤░ф║ЬхдзхнжуБ╕",  asia_tweets_path, class: 'university-link' %>
            <%= link_to "х╕Эф║мхдзхнжуБ╕",  teikyo_tweets_path, class: 'university-link' %>
            <%= link_to "хЫ╜хглщдихдзхнжуБ╕",  kokushikan_tweets_path, class: 'university-link' %>
        </div>
    </header>
</body>
</html>




<div class="tweets-container">
 <% @tweets.each do |t| %>
   <div class="tweet">
   <%= image_tag t.image_url, size: "250x200" if t.image? %>
   


    <div>
    <h2>ч╖ПхРИшйХф╛б
    <span class="star-rating">
       <span class="star-rating-front" style="width: <%= getPercent(t.star) %>%;">тШЕтШЕтШЕтШЕтШЕ</span>
       <span class="star-rating-back">тШЕтШЕтШЕтШЕтШЕ</span>
    </span> 
    </h2>
    </div>
    
    
    <% if user_signed_in? %>
    <% if current_user.already_liked?(t) %>
        <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
          <i class="fas fa-heart liked-heart"></i><%= t.likes.count %>
        <% end %>
    <% else %>
        <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
          <i class="far fa-heart unliked-heart"></i><%= t.likes.count %>
        <% end %>
    <% end %>
<% else %>
    <i class="far fa-heart unliked-heart"></i><%= t.likes.count %>
<% end %>

    <h7>х║ЧхРНя╝Ъ<h7>
    <%= t.shop %><br>
    <h7>уВ╕уГгуГ│уГля╝Ъ<h7>
    <%= t.genre %><br>
    <h7>хдзхнжхРНя╝Ъ<h7><%= t.access %><br>
    <h7>уГмуГУуГеуГ╝я╝Ъ<h7><%= t.about %><br>
    <h7>уБКуБЩуБЩуВБуГбуГЛуГеуГ╝я╝Ъ<h7><%= t.menu %>

   


      <%= t.created_at %>
      <%= link_to "шй│ч┤░уБ╕", tweet_path(t.id), class: 'button' %>

      <% if user_signed_in? && current_user.id == t.user_id %>
      <%= link_to "ч╖ищЫЖуБЩуВЛ", edit_tweet_path(t.id),class: 'button' %>
      <%= button_to "хЙКщЩдуБЩуВЛ", tweet_path(t.id), method: :delete,class: 'button' %>
  
      <% end %> 

    </div>
  <% end %>
</div>



<% if user_signed_in? %>
  <%= link_to "уГЮуВдуГЪуГ╝уВ╕уБ╕", user_path(current_user.id),class: 'button'  %>
<% end %>

</body>