<div class="sinki-toukou">

<h1></h1> 
<div class="form-container">
<h3>新規投稿ページ</h3>
<%= form_for @tweet do |f| %>

  

    <div class="field">
    <%= f.label :お店の名前 %>
    <%= f.text_field :shop, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :画像 %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
  <%= f.label :ジャンル  %>
  <%= f.select :genre, 
  [["ラーメン", "ラーメン"], 
  ["油そば", "油そば"], 
  ["うどん", "うどん"],
  ["そば", "そば"],
  ["まぜそば", "まぜそば"],
  ["つけ麺", "つけ麺"],
  ["洋食", "洋食"],
  ["中華", "中華"],
  ["韓国", "韓国"],
  ["エスニック", "エスニック"],
  ["カレー", "カレー"],
  ["しゃぶしゃぶ", "しゃぶしゃぶ"],
  ["すきやき", "すきやき"],
  ["鍋", "鍋"],
  ["カフェ", "カフェ"],
  ["喫茶店", "喫茶店"],
  ["寿司", "寿司"],
  ["焼き鳥", "焼き鳥"],
  ["丼", "丼"],
  ["うなぎ", "うなぎ"],
  ["とんかつ", "とんかつ"],
  ["てんぷら", "てんぷら"],
  ["焼肉", "焼肉"],
  ["居酒屋", "居酒屋"],

  ["イタリアン", "イタリアン"]],include_blank: "選択して下さい" %>
</div>

<div class="field">
    <%= f.label :大学名  %>
    <%= f.select :access, 
    [["東京大学", "東京大学"],
    ["東京工業大学", "東京工業大学"],
    ["一橋大学", "一橋大学"],
    ["横浜国立大学", "横浜国立大学"],
    ["早稲田大学", "早稲田大学"], 
    ["慶応義塾大学", "慶応義塾大学"],
    ["上智大学", "上智大学"],
    ["東京理科大学", "東京理科大学"],
    ["明治大学", "明治大学"],
    ["青山学院大学", "青山学院大学"],
    ["立教大学", "立教大学"], 
    ["法政大学", "法政大学"], 
    ["学習院大学", "学習院大学"],
    ["日本大学", "日本大学"],
    ["東洋大学", "東洋大学"], 
    ["駒澤大学", "駒澤大学"], 
    ["専修大学", "専修大学"],
    ["成蹊大学", "成蹊大学"],
    ["成城大学", "成城大学"],
    ["明治学院大学", "明治学院大学"],
 ["獨協大学", "獨協大学"],
["國學院大学", "國學院大学"],
["武蔵大学", "武蔵大学"],
["大東文化大学", "大東文化大学"],
["亜細亜大学", "亜細亜大学"],
["帝京大学", "帝京大学"],
["国士館大学", "国士館大学"],
["東海大学", "東海大学"]],include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= f.label :レビュー %>
    <%= f.text_field :about, :size => 30 %>
  </div>


  <h5 class="rating-title">総合評価</h5>
<div class="post_form">
  <%= f.radio_button :star, 5, id: 'star1' %>
  <label for="star1">★</label>

  <%= f.radio_button :star, 4, id: 'star2' %>
  <label for="star2">★</label>

  <%= f.radio_button :star, 3, id: 'star3' %>
  <label for="star3">★</label>

  <%= f.radio_button :star, 2, id: 'star4' %>
  <label for="star4">★</label>

  <%= f.radio_button :star, 1, id: 'star5' %>
  <label for="star5">★</label>
</div>


  <div class="field">
    <%= f.label :おすすめメニュー %>
    <%= f.text_field :menu, :size => 30 %>
  </div>
 <%= f.submit "ごはんレビューを投稿する", class: 'button'%>
 </div>
 <% end %>
 </div>

<%= link_to "TOPに戻る", tweets_path, class: 'button' %>

</div>








